_archive
.asdf
.clj-kondo
.github
.lsp
.vscode
build
.bash_history
.bashrc
.DS_Store
.l4u-history
.local_bash_history
.run-erl.sh_history
.tarignore
.viminfo
.wget-hsts
*.beam
*.ez
erl_crash.dump
result*.txt
rebar3*
.cache
l4u_resources.mjs
l4u@resources.erl
*.gleam-
node_modules
build
